<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <!-- Cấu hình home.asp là trang mặc định -->
                <add value="Home.asp" />
            </files>
        </defaultDocument>

        
    </system.webServer>

    <system.web>
        <!-- Cấu hình .NET nếu cần -->
        <compilation debug="true" targetFramework="4.7.2" />
    </system.web>
</configuration>